@import "tailwindcss";
/* :root {
  --background: #ffffff;
  --foreground: #ffffff;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}  */
/* app/globals.css */


body {
  font-family: 'Noto Sans Lao', sans-serif;
}
.body{
  background-color: #ffffff;
  color: #000000;
  font-family: 'Inter', sans-serif;
}